#login {
  align-items: center;
  margin-top: 20px;
  padding: 20px 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid rgba(114, 127, 243, 0.877);
  border-radius: 5px;
}
.title {
  color: rgba(114, 127, 243, 0.9);
}
.pageName {
  text-decoration: none;
  align-items: center;
  /* display: flex;
  flex-direction: colu
  mn; */
}
.btn-login {
  background-color: rgba(114, 127, 243, 1);
}

.btn-login:hover {
  background-color: rgba(114, 127, 243, 0.877);
}
@media screen and (min-width: 720px) {
  #login {
    align-items: center;
    width: 500px;
  }
}
