.calender {
  /* justify-content: center;
  align-items: center; */
}

.react-calendar {
  /* margin: 10px; */
  border: none !important;
  /* margin: 5%; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}
.react-calendar button {
  border-radius: 5px;
  /* margin: 0.1px !important; */
}
.calender {
  color: rgba(114, 127, 243, 0.9);
  text-decoration: none;
}
