.cellWrapper {
  display: flex;
  align-items: center;
}
.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin: 0;
}
.status {
  padding: 5px;
  border-radius: 5px;
}
.thead {
  background-color: rgba(114, 127, 243, 1);
}

.booked {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.book {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
.generate {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
.bill {
  color: grey;
  background-color: rgba(0, 128, 0, 0.151);
}
.Online {
  padding: 5px;
  border-radius: 5px;
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.Offline {
  padding: 5px;
  border-radius: 5px;
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
.view {
  cursor: pointer;
}
